* {
    margin: 0;
    padding: 0;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;

}

.no1table tr:nth-child(even) {
    background-color: rgb(239, 209, 154);
}

.no1table {
    width: 40rem;
    height: 15rem;
    margin: 1rem;
}

.no1table th {
    background-color: red;
}

.no1 {
    padding-left: 0.5rem;
    text-align: left;
}

.no2 {
    text-align: right;
    padding-right: 0.5rem;
}






.no2table {
    width: 30rem;
    height: 15rem;
    margin: 1rem;
    font-size: xx-large;
}

.no2table td {
    color: red;
    width: 50%;
    text-align: center;
}







.bgcolor {
    background-color: yellow;
    height: 3rem;
}

.sarino1 {
    text-align: right;
    padding-right: 0.4rem;
    width: 8rem;
}

.lastsari {
    width: 5rem;
    padding-left: 0.4rem;
}

.sarino2 {
    width: 10rem;
    padding-left: 0.4rem;
}

.sarino3 {
    width: 4rem;
    padding-left: 0.4rem;
}

.sarino5 {
    width: 7rem;
    padding-left: 0.4rem;
}





.no4table {
    margin: 1rem;
}

 .no4table th {
    background-color: aqua;
}

.heading {
    text-align: left;
    width: 7rem;
    padding-left: 0.4rem;
    height: 1.5rem;
}

 .no4table td {
    text-align: right;
    padding-right: 0.4rem;
}

.straw {
    width: 7rem;
    height: 3rem;
}

.no4table tr:nth-child(odd) {
    background-color: rgb(221, 221, 239);
}

.no4table tr:nth-child(even) {
    background-color: rgb(236, 235, 240);
}



.no5table{
    margin: 1rem;
    width: 15rem;
    height: 10rem;
    font-size: large;
}

.no5table th{
    background-color: rgb(247, 170, 182);
}
.sssari{
    text-align: left;
    padding-left: 0.4rem;
    width: 50%;
}
.vvvari{
    text-align: center;
}